<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Index</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="m-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary"
            @click="openModal('new')"
          >
            建立新的產品
          </button>
        </div>
        <div class="row m-3">
          <table class="table">
            <thead>
              <tr>
                <th width="120">分類</th>
                <th width="150">產品名稱</th>
                <th width="120">原價</th>
                <th width="120">售價</th>
                <th width="150">是否啟用</th>
                <th width="150">編輯</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products" :key="product.id">
                <td width="150">{{ product.category }}</td>
                <td width="150">{{ product.title }}</td>
                <td width="120">{{product.origin_price}}</td>
                <td width="120">{{product.price}}</td>
                <td width="150">
                  <span
                    v-if="product.is_enabled"
                    :class="{'text-success' : product.is_enabled}"
                    >啟用</span
                  >
                  <span v-else>未啟用</span>
                </td>
                <td width="150">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    @click="openModal('edit', product)"
                  >
                    編輯
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    @click="openModal('delete', product)"
                  >
                    刪除
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="border-0">
                  目前有{{products.length}}項產品
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- 分頁元件 -->
        <pagination :pages="pagination" @emit-pages="getData"></pagination>
      </div>
      <!-- modal -->
      <product-modal ref="product" :product="tempProduct" :status="status" @update="getData"></product-modal>
      <!-- del modal -->
      <del-product-modal ref="delProduct" :item="tempProduct" @update="getData"></del-product-modal>
    </div>
    
    <!-- 分頁 -->
    <script type="text/x-template" id="vue-pagination">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <!-- 當前頁面是第一頁時，添加 "disabled" class -->
          <li
            class="page-item"
            :class="{'disabled': pages.current_page === 1}"
          >
          <!-- 設置了 class 和點擊事件監聽器，用於觸發上一頁的操作 -->
            <a
              class="page-link"
              href="#"
              aria-label="Previous"
              @click.prevent="emitPages(pages.current_page - 1)"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <!-- 使用了 v-for 指令來循環生成分頁按鈕，並使用 v-bind 指令來動態設置 class，當分頁按鈕是當前頁面時，添加 "active" class。 -->
          <li
            v-for="(item, index) in pages.total_pages"
            :key="index"
            class="page-item"
            :class="{'active': item === pages.current_page}"
          >
          <!-- 使用了 v-if 指令，當分頁按鈕是當前頁面時，顯示純文字內容 -->
            <span
              class="page-link"
              v-if="item === pages.current_page"
            >{{ item }}</span>
            <!--  v-else 指令，當分頁按鈕不是當前頁面時，顯示可點擊的連結，並設置點擊事件監聽器 -->
            <a
              class="page-link"
              href="#"
              v-else
              @click.prevent="emitPages(item)"
            >{{ item }}</a>
          </li>
          <!-- 顯示下一頁的按鈕和觸發下一頁的操作 -->
          <li
            class="page-item"
            :class="{'disabled': pages.current_page === pages.total_pages}"
          >
            <a
              class="page-link"
              href="#"
              aria-label="Next"
              @click.prevent="emitPages(pages.current_page + 1)"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </script>
   <!-- modal -->
   <script type="text/x-template" id="productModal">
    <div
      class="modal"
      tabindex="-1"
      id="productModal"
      ref="productModal"
      aria-labelledby="productModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title">
              <span v-if="status">新增產品</span>
              <span v-else>編輯產品</span>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <!-- 圖片 -->
              <div class="col-md-4">
                <div class="row">
                  <div class="mb-3">
                    <label for="imageUrl" class="col-form-label"
                      >主要圖片</label
                    >
                    <input
                      type="text"
                      class="form-control mb-3"
                      id="imageUrl"
                      v-model="product.imageUrl"
                    />
                    <img :src="product.imageUrl" class="w-100" />
                  </div>
                </div>
                <!-- 上傳圖片 -->
                <h3>多圖新增</h3>
                <div class="mb-3" v-if="Array.isArray(product.imagesUrl)">
                  <div
                    class="mb-3"
                    v-for="(img, key) in product.imagesUrl"
                    :key="key"
                  >
                    <label for="imagesUrl" class="col-form-label"
                      >圖片網址</label
                    >
                    <input
                      type="text"
                      class="form-control mb-3"
                      id="imagesUrl"
                      v-model="product.imagesUrl[key]"
                    />
                    <img :src="img" class="w-100" />
                  </div>
                  <!-- product.imagesUrl不為空陣列或最後一個元素不是空字串 -->
                  <div
                    v-if="!product.imagesUrl.length ||
                  product.imagesUrl[product.imagesUrl.length - 1]"
                  >
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-primary d-block w-100"
                      @click="product.imagesUrl.push('')"
                    >
                      新增圖片
                    </button>
                  </div>
                  <div v-else>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger d-block w-100"
                      @click="product.imagesUrl.pop()"
                    >
                      刪除圖片
                    </button>
                  </div>
                </div>
                <div v-else>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-primary d-block w-100"
                    @click="createImages"
                  >
                    新增圖片
                  </button>
                </div>
                <div class="mb-3"></div>
              </div>
              <!-- 標題內容 -->
              <div class="col-md-8">
                <div class="row">
                  <div class="mb-3">
                    <label for="title" class="col-form-label">標題</label>
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      v-model="product.title"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="category" class="col-form-label">分類</label>
                    <input
                      type="text"
                      class="form-control"
                      id="category"
                      v-model="product.category"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="unit" class="col-form-label">單位</label>
                    <input
                      type="text"
                      class="form-control"
                      id="unit"
                      v-model="product.unit"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="origin_price" class="col-form-label"
                      >原價</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="origin_price"
                      v-model.number="product.origin_price"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="price" class="col-form-label">售價</label>
                    <input
                      type="number"
                      class="form-control"
                      id="price"
                      v-model.number="product.price"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="description" class="col-form-label"
                    >商品描述</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    v-model="product.description"
                  ></textarea>
                </div>
                <div class="row mb-3">
                  <label for="content" class="col-form-label">商品內容</label>
                  <textarea
                    class="form-control"
                    id="content"
                    v-model="product.content"
                  ></textarea>
                </div>
                <div class="form-check">
                  <input
                    id="is_enabled"
                    v-model="product.is_enabled"
                    class="form-check-input"
                    type="checkbox"
                    :true-value="1"
                    :false-value="0"
                  />
                  <label class="form-check-label" for="is_enabled"
                    >是否啟用</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <button
              type="button"
              class="btn btn-primary"
              @click="updateProduct"
            >
              確定
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>
     <!-- delete modal -->
     <script type="text/x-template" id="delProductModal">
      <div
        class="modal"
        tabindex="-1"
        id="delProductModal"
        ref="delProductModal"
        aria-labelledby="delProductModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-danger text-white">
              <h5 class="modal-title">刪除商品</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>
                是否刪除
                <strong class="text-danger">{{item.title}}</strong>
                商品(刪除後將無法恢復)。
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                取消
              </button>
              <button type="button" class="btn btn-danger" @click="delProduct">
                確定刪除
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <script src="./index.js" type="module"></script>
  </body>
</html>
